.add_background{
    background-image: url("../img/flower_background2.jpg");
    height: 700px;
    width: 1500px;
    margin-left:20px;
    margin-top:20px;
    margin-right: 20px;

}

.add_background>div{
    margin-left:30px;
}

.img_add{
    background-color: rgb(245, 191, 16);
    width: 350px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.reg_add{
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 191, 16);
    width: 350px;
    height: 550px;
    border-radius: 10px;
    margin-top:20px;
}

.img_add>img{
    width:300px;
    height:500px;
}

.add_click>div:hover{
    color:tomato
}

.page>div:hover{
    color:tomato
}



