.Input{
    height: 100%;
}

.Agree{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}


.item3{
    padding: 10px;
    font-weight: bolder;
}

.item4{
    padding-bottom: 10px;
}

.agree_input{
    border:1px solid gray;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.double{
    width:70px;
    height: 30px;
    font-size: 15px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border:1px solid gray;
    cursor: pointer;
    margin-top:-10px;
}

.agree_login{
    width:400px;
    height: 50px;
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border:1px solid gray;
    cursor: pointer;
    border-radius: 10px;
}

.double_clear{
    width:100px;
    height: 30px;
    font-size: 15px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border:1px solid gray;
    cursor: pointer;
    margin-top:-10px;
}

