.profile_total_ctrl{
    height: 683px;
  .contents_profile{
    height: 100%;
    background-color: rgb(137, 177, 182);
    font-family: 'Nanum+Gothic','Robot';
  }
}

.profile{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.basic{
    display: flex;
    flex-direction: row;
    width:100%
    
}
.nick{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:10px;
}

.Profile_imgChange, .Profile_nickChange, .imgChange_Upload{
    display: flex;
    flex-direction: row;
}

.Profile_Upload{
    display: flex;
    flex-direction: column;
}

.Profile_imgChange>.Profile_imgText, .Profile_nickChange>.Profile_nickText{
    width:150px;
    border-right:2px solid black;
    padding:30px;
    font-weight: bolder;
    background-color:rgb(66, 92, 95) ;
}

.Profile_imgChange{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.Profile_nickChange{
    border-bottom: 2px solid black;
   
    input{
        height: 20px;
        padding:5px;
        margin:30px;
        font-size: 20px;
        font-weight: bolder;
    }

}

.ProfileImg{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-left:30px;
    margin-bottom: 20px;
}


.imgChange_Upload{
    margin-left:30px;
}

.profile button{
    border: none;
    cursor: pointer;
}

.profile_middle{
    margin-top:50px;
}

.profile_fix{
    margin-bottom: 10px;
}

.imgChange_Upload>input{
    width: 200px;
}

.profile>div{
    width: 700px;
}

.imgChange_Upload button{
    margin-bottom: 30px;
    background-color: white;
    font-weight: bolder;
}

.profile_handlers{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    div{
        font-size: 30px;
        font-weight: bolder;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 50px;
        border:5px solid black;
        border-radius: 10px;
        cursor: pointer;
        &:hover{
            background-color: tomato;
        }
    }
}






