.Write{
    height: 100%;
    width: 402.4px;
    margin-left:155px;
}

.VisitorWrite{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding:30px;
    justify-content: center;
    align-items: center;
    margin-top:70px;
    height: 280px;
}

.vi{
    margin-top:10px;
}

.vi2{
    font-size: 18px;
    color:rgb(34, 28, 28);
    font-weight: bolder;
}

.vi3{
    margin-top:15px;
}

.vi4{
    margin-top:30px;
    padding-left:256.69px;
}

.contents::-webkit-scrollbar {
    width: 1em;
  }
   
  .contents::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  .contents::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }

  .contents{
    height: 3000px;
    background: whitesmoke;
    overflow: scroll;
    margin: 0 auto;
    padding: 3em;
    font: 100%/1.4 serif;
    border: 1px solid rgba(0,0,0,0.25)
  }

  .bc01{
    background-color: black;
  }

  .menu_2, .menu_3{
    background-color: rgb(137, 177, 182);
    width: 195px;
  }

  .pt{
    position: relative;
    margin-left:0;
  }

  .nickname{
    color: white;
  }


  .bet_r{
    display: flex;
    flex-direction: row;
    width: 195px;
  }

  .writes{
    width: 709.2px;
    display: flex;
    flex-direction: column;
    margin-top:105px;
    margin-left:5px;
    margin-right:5px;
    background-color: rgb(231, 169, 141);

  }

  .total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .tt{
    width: 200px;
  }

  .pp{
    margin-top: 105px;
    width: 200px;
    background-color: black;
  }

  .menu3{
    width: 200px;
  }

  .p_n{
    width: 180px;
    height: 270px;
    background-color: white;
    margin:10px;
  }

  .p_p{
    width: 170px;
    height: 170px;
    margin: 5px;
  }

  .p_pn{
    font-size: 20px;
    font-weight: bolder;
    margin-left: 5px;
    color:black
  }

  .choice{
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-top: 20px;
  }

  .p_t{
    display: flex;
    justify-content: center;
    align-items: center;
    color:gray
  }

  .cc{
    width: 20px;
    height: 20px;
  }

  .p_w{
    display: flex;
    flex-direction: column;
    width:1119.2px;
  }

  .p_ww{
    display: flex;
    flex-direction: row;
    margin-top: -100px;
  }

  .p_wb{
    height: 250px;
    margin-top: 5px;
  }

  .topimg{
    width: 1119.2px;
    height: 250px;
  }

  .l_p{
    display: flex;
    flex-direction: column;
  }

  .l_t{
    display: flex;
    flex-direction: column;
  }

  .l_p_i{
    background-color: white;
    width:150px;
  }

  .p_img3{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .p_img3_1{
    width: 140px;
    height: 140px;
  }

  .nickname2{
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    margin-top: 20px;
    font-size: 20px;
  }

  .book_round{
    border:30px solid black;
    background-image: url("../img/book_background.jpg");
    width:540px;
    height: 325px;
    margin-top:-50px;
    margin-left:20px;
  }

  .lp_bk{
    display: flex;
    flex-direction: row;
  }

  .book_round>div{
    color: white;
    font-size: 30px;

    width: 100%;
  }

  
