.list_post{
    height: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-top:-180px;
}

.list01{
 margin-top :10px;
 display: flex;
 flex-direction: row;
 width: 372.4px;
 background-color: black;
 padding:15px;
 border-radius: 5px;
 height: 200px;
}

.nick{
    font-weight: bolder;
    color:white
}

.txt{
    font-size: 12px;
    margin-left:10px;
    margin-top: 10px;
    padding:10px;
    color:black;
    background-color: white;
    height: 200px;
    font-weight: bolder;
}

.b_t{
    width:150px;
    background-color: white;
    color:black;
    font-size:15px;
    margin-left: 8px;
    padding-left: 5px;
}