.posts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: tomato;
    height: 70px;
}

.menu, .agree{
    display: flex;
    flex-direction: row;
}

.menu{
    margin-top:17px;
    width:200px;
}

.item, .item2, .item6{
    padding: 15px;
    color:white;
}

.item6{
    margin:0;
}

/* button{
    height: 20px;
} */

.btn{
    color: black;
    justify-content: center;
    align-items: center;

}

.login{

    padding: 15px;

}

.min{
    display: flex;
    flex-direction: row;
}

.p_img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.n2{
    font-size: 18px;;
}
.nickName{
    height: 70px;
    color:white;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.domain{
    width:200px;
    height: 40px;
    padding:10px;
    margin-top:5px;
}

